@import url("./mixer.css");
/* 
    General Stuff
*/
html{
    font-size: 95%;
}
/* 
    Reuseable Stuff
*/
.container{
    width: min(850px,95%);
}
/* 
    Direct Styling
*/
/* 
===========================
    Header
===========================
*/
.main__nav{
    top: 0rem;
    display: block;
    padding: 1em 1em;
}

.main__nav.activees{
    padding: 1em 1em;
}

.nav{
    position: fixed;
    top: 1.5em;
    background: #212c3e;
    left: 0;
    padding: 0 0.6em 10px 0.6em;

    background: var(--resposive-nav-bg);
    box-shadow: 0 4px 5px -2px rgba(0,0,0,.2), 
                0 7px 10px 1px rgba(0,0,0,.14), 
                0 2px 16px 1px rgba(0,0,0,.12);
}

.header__slider{
    top: 3.7rem;
}

.stream__content {
    top: 13%;
}

.slider__content .slide__content__heading{
    font-size: 1.1rem;
}

.img--size{
    width: 13rem !important;
    height: 10rem;
}

.img--size-lg{
    width: 13rem !important;
    height: 12rem;
}
/* 
===========================
    Streamer Progression
===========================
*/

.benefits{
    margin-top: 3rem;
 }

/* 
===========================
    Showcase Section
===========================
*/
.showcase__content{
    padding-left: 0;
    padding-top: 2.5em;
    padding-bottom: 3em;
}

/* 
===========================
    Partnership
===========================
*/

.nav-toggle{
    top: 0.9rem; 
}

.nav__list {
    top: 1.6rem; 
}

.main__nav{
    background-color: var(--text-primary);
}

.nav{
    margin-top: 2rem;
    margin-right: 3rem;
}

.logo{
    align-self: flex-start;
}

