@import url("./mixer.css");
/* 
    General Stuff
*/
html{
    font-size: 18px;
}
/* 
    Reuseable Stuff
*/
.container{
    width: min(580px,95%);
}
.section-1{
    flex-direction: column !important;
}
/* 
    Direct Styling
*/
/* 
===========================
    Header
===========================
*/
.main__nav{
    top: 0rem;
    padding: .9em 0.8em .7em 0.8em;
}

.nav{
    top: 0.8em;
}

.nav-toggle{
    align-self: center;
}

.main__nav.activees{
    padding: .9em 0.8em .7em 0.8em;
}

.header__slider{
    display: none;
}

.header__slider--show{
    top: 10px;
    display: block;
    height: 22rem;
}

.header__slider--show img{
    object-fit: cover;
    object-position: center;
}

.stream__content--pd{
    top: 19% !important;
    max-width: 100%;
    transform: translateX(0%);
    left: 0;
    padding: .8em;
}

.stream__content--pd2{
    top: 15% !important;
}

.stream__content--pd p{
    line-height: 1;
}

.stream__content {
    top: 0;
}

.showcase__pd{
    padding-top: 5.1em;
}
/* 
===========================
    Streamer Progression
===========================
*/

.benefits{
    margin-top: 0rem;
 }
/* 
===========================
    Showcase Section
===========================
*/
.showcase__content{
    width: 70%;
    padding-top: 0em;
    padding-left: 0;
    padding-bottom: 3.5em;

}

.showcase__section > div{
    display: block;
}

.showcase__img{
    width: 90%;
    margin-left: 1.5rem;
}


/* 
===========================
    Platform Section
===========================
*/
.platform__center{
    max-width: 100%;
}

.platform-main > div{
    display: block;
}

.platform-col + .platform-col{
    margin-top: 2rem;
}

.platform-img{
    width: 7rem;
}

.platform-col h1{
    line-height: 1;
}

.platform-col{
    width: 100%;
}
/* 
===========================
    New to Streaming
===========================
*/
.stream__col{
    width: 100%;
}