@import url('lib.css');

/* 
  Reuseable Stuff
*/
.section__tittle{
    margin: .55em 0;
    font-size: 1.40rem;
    color: var(--text-secondary);
    line-height: 1.3;
}

.section__text{
    font-size: .9rem; 
    color: var(--text-lightgrey);
    margin-bottom: 1.3em;

}

.section__anchor{
    font-size: 0.8rem;
    display: inline-block;
}

/* 
    Direct Styling
*/
/* 
===========================
    Header
===========================
*/
header{
    background-color: var(--text-accent);
}

.header__gradient{
    max-width: 1700px;
    margin: 0 auto;
}

.header__slider{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.main__nav{
    margin: 0 auto;
    position: fixed;
    left: 0;
    top: 1rem;
    right: 0;
    z-index: 4;
    display: flex;
    padding: 1.2em 1.6em;
    transition: background .5s,top .5s;
    transition: top .5s;
}

.main__nav.activees{
    top: 0;
    padding: .6em 1.6em;
    background-color: var(--text-primary) !important;
}

.logo{
    width: 4.35rem;
}

.actives{
    border-bottom: 2px solid var(--text-lightblue);
    font-weight: 750;
    color: var(--text-secondary);
}

.nav {
    visibility: hidden;
    height: 0;
    position: absolute; 
    font-size: 1rem;
    width: 100%;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
} 

.nav__list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__item{
    margin-top: .75em;
    padding-bottom: .2em !important;
}

.nav__link{
    color: var(--text-lightgrey);
    text-decoration: none;
    transition: color 1s;
    font-size: .85rem;
    opacity: 1;
}

.nav__link:hover,
.nav__link:focus{
    color: var(--text-secondary);
}

.slider{
    margin-left: 0vw;
    transition : margin-left 1s;
    display: flex;
    height: 100%;
    width: 400vw;
}

.slide{
    height: 100% !important;
    display: flex;
    width: 100vw;
    position: relative;
}

.slider__img{
    width: 100vw;
}

.slider__content{
    position: absolute;
    height: 100%;
    width: 35%;
    left: 50%;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.stream__content--pd p{
    line-height: 1;
    padding-bottom: .3em;
}

.slider__content .slide__content__heading{
    font-size: 1.3rem;
    margin-bottom: 0px;
}

.content__name{
    display: flex;
    align-items: center;
}

.name__img{
    width: 1.3rem;
    margin-right: .45em;
}

.name__text{
    font-size: .6rem;
}

.slide--btn{
    font-size: .85rem;
}

/* Controls */
.controls .prev,
.controls .next{
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  color: var(--text-lightgrey);
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all .5s ease;
}

.controls .prev:hover,
.controls .next:hover{
    color: var(--text-lightblue);
}

.controls .prev{
  left: 2.4rem;
}

.controls .next{
  right: 2.4rem;
}

/* nav toggle  */
.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 2.2em;
    height: 2em;
    padding: 0.1em;
    border-radius: 4px;
    background: var(--text-blue);
    color: var(--text-secondary);
    transition: opacity 250ms ease;
    
    position: absolute; /* ya ha container ka leya ka us ka sth absolute ho jaya */
    right: 1rem;
}

.hamburger {
    width: 50%;
    position: relative; /* ya relative ha hamburger ka after before ka leya */
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 2px;
    background: var(--text-secondary);
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-5px);
}

.hamburger::after {
    transform: translateY(2px);
}

.nav-toggle:focus{
    outline: none;
    border: 2px solid var(--text-lightblue);
}

/* Indicators */
.indicator{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1.43rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

}
  
.indicator div{
    background-color: var(--text-lightgrey2);
    border-radius: 50%;
    margin: 0px .42em;
    padding: .31em;
    transition: background .5s;
  }

.indicator div:hover{
    background-color: var(--text-secondary);
}
  
.indicator div.active{
    background-color: var(--text-lightblue);
    padding: .32em;
  }

/* Media Queries */

@media (min-width: 1000px) {
    .nav-toggle {
        display: none;
    }

    .nav {
        visibility: visible;
        display: flex;
        height: auto;
        align-items: center;
        position: relative;
        justify-content: space-between;
        
    }

    .nav__list{
        display: flex;
        margin: 0;
    }

    .nav__item{
        margin: 0 0 0 1.5em;
    }
}

@media (max-width: 1000px) {
    .nav-toggle{
        top: 0.9rem; 
    }

    .nav__list {
        top: 1.6rem; 
    }
    
    .main__nav{
        background-color: var(--text-primary);
    }

    .nav{
        margin-top: 2rem;
        margin-right: 3rem;
    }

    .logo{
        align-self: flex-start;
    }
}

/* 
===========================
    Showcase Section
===========================
*/

.showcase__section{
    background-color: var(--text-accent);
}

.showcase__section .section__text{
    width: 90%;
}

.showcase__img{
    width: 40%;
    align-self: center;   
}

.showcase__content{
    width: 44%;
    padding-top: 6em ;
    padding-bottom: 6em ;
    padding-left: 4em;
    
}

.showcase__section:nth-child(4) .showcase__content{
    padding-left: 0px !important;
}

/* ya update ha 4-7-20 */

.platform-img--professional{
    width: 8.5rem;
    height: 5.45rem;
}


/* 
===========================
    Platform Section
===========================
*/
.platfrom-col--width{
    width: 40%;
}

.platfrom-col--width h1 span{
    line-height: 1.1;
}

.platform-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.platform-img{
    width: 6rem;
}

.platform__text{
    font-size: .92rem;
}

.platform__title{
    font-size:.8rem ;
}

.platform__center{
    max-width: 50%;
    margin: auto;
    padding-bottom: 4.5em ;
}
/* 
===========================
    New to Streaming
===========================
*/
.stream__content {
    position: absolute;
    top: 30%;
    max-width: 50%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}

.stream__content__tittle {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: .1em;
}
.section-img {
    width: 5rem;
}

.stream__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
}
/* 
===========================
    Streamer Progression
===========================
*/

.benefits{
   background-color: var(--resposive-dark-nav-bg);
}

.progression{
    background: var(--resposive-nav-bg);
}

.platform__list{
    margin: 3em 0;
}

.platform__list li{
    margin: .7em 0;
}
/* 
===========================
    Varified Channels
===========================
*/
.varified__content{
    padding: 2em 0;
    background-color: var(--text-lightgrey3);
    color: var(--text-lightgrey);
}

.varified__text{
    font-size: .65rem;
    font-style: italic;
    letter-spacing: .5px;
}

/* 
===========================
    Partnership
===========================
*/
.partnership__main{
    background: #1d243a;
    height: auto;
    color: #ffffff;
}

.partnership__header{
    padding: .1em 0;
    visibility: hidden;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid #2f364c;
    background-color: #1d243a;
    z-index: 1;
}

.container{
    width: min(1150px, 90%);
    margin: 0px auto;
}

.partnership__logo{
    padding: .5em .6em;
    display: inline-block;
    margin: 0;
}

.partnership__logo .a,
.partnership__logo .b{
    font-size: 1.1rem;
    line-height: 1.2;
    color: #ffffff;
}

.partnership__logo:hover,
.partnership__logo:focus{
    border-radius: 50%;
    background: #2f364c;
}

@media (max-width: 1000px) {
.partnership__header--visible{
    visibility: visible;
    height: auto;
}

.partnership__sidebar--hidden{
    visibility: hidden;
    position: fixed;
    top: 3.5rem;
    left: -100%;
    bottom: 0;
    width: 100% !important;

    transition: left ease .5s;
    }
}

.partnership__logo .a{
    display: inline-block;
}

.partnership__logo .b{
    display: none;
}

.visible{
    display: inline-block !important;
}

.hidden{
    display: none !important;
}

.partnership__section{
    display: flex;
    padding: 0;
}

.partnership__sidebar{
    z-index: 1;
}

.partnership__content__main{
    width: 16.66rem;
}

.partnership__content{
    width: 100%;
    height: 100vh;
    padding: 2em 0;
}

.partnership__content__img{
    width: 10rem;
}

.partnership__sidebar{
    width: 35%;
    background: #141828;
    height: 100vh;

    overflow-y: scroll;
    overflow-x: hidden;
}

.partnership__sidebar::-webkit-scrollbar{
    width: 6px;
}

.partnership__sidebar::-webkit-scrollbar-track{
    border-radius: 10px;
}

.partnership__sidebar::-webkit-scrollbar-thumb{
    background-color: #2a374a;
    border-radius: 10px;
}

.partnership__sidebar--visible{
    visibility: visible;
    left: 0;
}

.partnership__content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partnership__content__tittle{
    font-size: 1.3333rem;
    opacity: .7;
    margin-bottom: 0;
}

.partnership__content__text{
    font-size: 0.777rem;
    opacity: .7;
    padding: 0 1.5em;
    letter-spacing: .5px;
    justify-content: center;
}

.partnership__content__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .6em .7em;
    background-color: var(--text-secondary);
    font-size: .63rem;
    margin: 2em 4em 1.5em;
    color: var(--text-lightgrey4);
}

.partnership__content__btn:focus{
    box-shadow: 0px 0px 5px 3px var(--text-blue);
}

.partnership__content__hr{
    margin-top: 1.333rem;
    margin-bottom: 0.444rem;
    height: 2px;
    opacity: .2;
}

.partnership__content__img-icon{
    width: 1rem;
    margin-right: .5rem;
}

.partnership__content__text{
    line-height: 1.2;
}

.partnership__content__text2{
    font-size: 0.777rem;
}

.partnership__content__text2--link{
    color: var(--text-secondary);
    text-decoration: underline;
}

.partnership__content__signbtn{
    font-size: 0.777rem;
    color: var(--text-secondary);
    margin: 0em 0em 1em;
    padding: .6em 1.5em;

    transition: background-color .5s ease;
}

.partnership__content__signbtn:hover{
    background-color: var(--text-lightgrey3);
}

.partnership__content__signbtn:focus{
    background-color: var(--text-lightgrey3);
    opacity: 0.4
}

.partnership__content__signbtn i{
    padding-right: .3em;
}

.partnership__content__last__list{
    border-radius: 0 0 7px 7px;
    overflow: hidden;
}

.content__last__item{
    font-size: 0.68rem;
    background-color: var(--text-blue);
    color: var(--text-secondary);
    padding: .8em 1em;
    width: 100%;

    transition: opacity .5s ease;
}

.partnership__sidebar__item-lst{
    margin-bottom: 1em;
}

.content__last__item:hover,
.content__last__item:focus{
    opacity: .7;
}

/* side bar */
.partnership__sidebar__tittle{
    color: var(--text-lightgrey5);
    font-size: 0.833rem;
    line-height: 1.3;
    margin: 0.8em 0.889em 0.8em;
}

.partnership__sidebar__link{
    display: flex;
    align-items: center;
    font-size: 0.833rem;
    color: var(--text-secondary);
    border-left: 2px solid transparent;
    padding: .4em 0.778em;
}

.partnership__sidebar__link:hover{
    color: var(--text-blue);
    border-color: var(--text-blue);
}

.partnership__sidebar__link:hover:focus{
    color: var(--text-secondary);
}

.partnership__sidebar__link img{
    width: 0.83rem;
    margin-left: 0.55em;
}

.partnership__sidebar__link span{
    padding: 1px 4px;
    color: var(--text-lightgrey6);
    background: var(--resposive-dark-nav-bg2);
    border-radius: 3px;
    margin-left: 0.5em;
    font-size: 0.7em;
}

.sibe__bar__logo--div{
    display: flex;
    justify-content: center;
    margin: 1.5em 16px;
    border-bottom: 2px solid #2f364c;
}

.sibe__bar__logo{
    width: 10rem;
    margin-bottom: 16px;
    opacity: 0.1;
    filter: grayscale(1);
}

/* new img update new to streaming */
.img--size{
    width: 19rem !important;
    height: 13.5rem;
}

.img--size-lg{
    max-width: 17rem !important;
    height: 18rem;
}

.pd-l-0{
    padding-left: 0;
}

/* new img update streaming progression */
.progression-img--size{
    width: 6rem;
    height: 6rem;
}
